
source/Riot/bin/Debug/extension.yaml
source/Riot/bin/Debug/icon.png
source/Riot/bin/Debug/Playnite.SDK.dll
source/Riot/bin/Debug/Playnite.SDK.pdb
source/Riot/bin/Debug/Playnite.SDK.xml
source/Riot/bin/Debug/Riot.dll
source/Riot/bin/Debug/Riot.pdb
source/Riot/obj/Debug/.NETFramework,Version=v4.6.2.AssemblyAttributes.cs
source/Riot/obj/Debug/Riot.csproj.AssemblyReference.cache
source/Riot/obj/Debug/Riot.csproj.CopyComplete
source/Riot/obj/Debug/Riot.csproj.CoreCompileInputs.cache
source/Riot/obj/Debug/Riot.csproj.FileListAbsolute.txt
source/Riot/obj/Debug/Riot.dll
source/Riot/obj/Debug/Riot.pdb
